/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	clear:both;
	height:50px;
	background: url(../images/img06.gif) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

form { margin: 0; padding: 0; }
fieldset { margin: 0; padding: 0; border: none; }
input, textarea, select { font: Georgia, "Times New Roman", Times, serif; }
h1, h2 { font-weight: normal;	color: #008C00; }
h1 { letter-spacing: -1px; font-size: 2.4em; }
h2 { font-size: 1.3em; }
strong { font-size: 1.2em;	font-weight: bold; }

/* Header */
#header {
	width: 960px;
	clear:both;
	height: 100px;
	/*background: url(../images/img07.jpg)no-repeat;*/
	margin: 0 auto;
	/*border:1px solid #000;*/
}

#header_logo {
	float:left;
	width:5%px;
/*	border:1px solid #000;*/
}

#header_logo img {
	float: left;
	clear:both;
	height:50px;
	padding-top:5px;
	padding-left:45px;
}

#header_logo span{
	float: left;
	clear:both;
	letter-spacing: -1px;
	font-size: 10px;
	color: #299762;
	padding-top:5px;
	padding-left:11px;
}

#header_message {
	float: right;
	width: 72%;
	height: 50px;
}

#header_message span{
	float: right;
	clear:both;
	text-align:justify;
	letter-spacing: -0.5px;
	font-size: 1.0em;
	color: #fff;
	padding:20px 0px 30px 50px;
}

#header_menu{
	float: right;
	width: auto;
	height: 25px;
	padding-bottom:10px;
}

#header_menu ul {
	margin:0;
	padding:0px;
}

#header_menu li {
	display: inline;
}

#header_menu a {
	display: block;
	height:25px;
	width:90px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.2em;
	color: #fff;
	background:#0B7626;
	padding:5px 5px 0px 5px;
	margin-left:3px;
}

#header_menu a:hover {
	background:#90C817;
}

/* Page */
#page {
	clear:both;
	width: 1024px;
	margin: 0 auto;
	padding-top: 10px;
	height:auto;
}

#mainbar {
	float: right;
	width: 70%;
	padding: 0px 20px 0px 10px;
}

#mainbar span {font-size:1.0em; padding-right:20px;}
#mainbar .title{font-size:1.0em; font-family: Georgia, "Times New Roman", Times, serif;}

#sidebar {
	float: center;
	
	width: 185px;
	float: center;
	padding: 0 0 10px 10px;
	border-right: 0px solid #dcdcdc;
	text-align: left;
	font-size:1.0em; font-family: Georgia, "Times New Roman", Times, serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
        
}
#sidebar ul {list-style: none;padding: 0; margin: 0;font-size: 13px font-family:Georgia, "Times New Roman", Times, serif;}

#sidebar1{
	width: 185px;
	float: center;
	padding: 0 0 10px 10px;
	border-right: 0px solid #dcdcdc;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#sidebar1 ul {list-style: none;padding: 0; margin: 0;font-size: 12px;}
#sidebar1 ul li {
	width: 200px;
	background: url(../images/icon-left.png) no-repeat left center, url(../images/green.jpg) repeat left center;
	padding: 10px 0 10px 10px; margin-top: 8px;margin-left: 9px;
	border: 1px solid #dcdcdc;
	-moz-border-radius-topleft: 8px;-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;
	-o-border-top-left-radius: 8px;-o-border-bottom-left-radius: 8px;}


#sidebar1 ul li a {
	width: 100%;
	color: #2e2e2e;
    cursor: pointer;
	padding: 10px 65px 10px 20px;
    -webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	-o-transition: padding-left 250ms ease-out;
}
	
#sidebar1 ul li a:hover {
    padding-left: 30px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #496d2a;
}

	
#sidebar1 .menulink1 {
	padding: 0 0 0 10px;
	display:block;
	text-decoration: none;
	color: #777;
	font-weight:normal;
}

#sidebar1 .menulink1:hover {
	background:;
	color:#333;
	
}

#content_inside{
	padding-top:12px;
}


#leftBar {
	width: 185px;
	float: left;
	padding: 0 0 20px 10px;
	border-right: 0px ;
	text-align: left;
}
#leftBar ul {list-style: none;padding: 0; margin: 0;font-size: 13px;}
#leftBar ul li {
	width: 164px;
	background: url(img/icon-left.png) no-repeat left center, url(img/green.jpg) repeat left center;
	padding: 10px 0 10px 10px; margin-top: 8px;margin-left: 9px;
	border: 1px solid #dcdcdc;
	-moz-border-radius-topleft: 8px;-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;
	-o-border-top-left-radius: 8px;-o-border-bottom-left-radius: 8px;}
#leftBar ul li a {
	width: 100%;
	color: #2e2e2e;
    cursor: pointer;
	padding: 10px 65px 10px 20px;
    -webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	-o-transition: padding-left 250ms ease-out;
}
#leftBar ul li a:hover {
    padding-left: 30px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #496d2a;
}
.clear {clear: both;}
small {font-size: 11px; color: 5b5b5b;}
img {border: none;}
a {color: #527e19; text-decoration: none;}
a:hover {color: #000;}
label {padding: 0; margin: 0 0 10px 0;}
input {padding: 4px;color: #5b5b5b;border: 1px solid #dcdcdc;
-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px;}
input.login { width: 200px; margin: 5px 0 10px 0px;}
input.panjang {width: 100%;}
input.sedang{width: 200px;}
input.pendek{width: 25%;}
input.panjang:focus {-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #74b9ef; background:#fcfcf0;text-shadow: 1px 0px #fff; }
input.sedang:focus{-moz-box-shadow: 0px 0px 10px #dcdcdc;-webkit-box-shadow: 0px 0px 10px #74b9ef; background:#fcfcf0;text-shadow: 4px 0px #fff;}
input.pendek:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #74b9ef; background:#fcfcf0;text-shadow: 1px 0px #fff;}


	.button {
	cursor: pointer;
	padding: 4px 10px 4px 10px;
	color: #fff;
	background: url(../../images/img/green.jpg) repeat left center;
	border: 1px solid #71bb3b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.button:hover { color: #fff;}
.button:active { border-color: #777 #777 #666;
    text-decoration::first;}
.button.confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff!important;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
}
.button.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
select {padding: 4px;color: #5b5b5b;border: 1px solid #dcdcdc;
-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px;}
select:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}
textarea:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}
textarea {padding: 4px;color: #5b5b5b;border: 1px solid #dcdcdc;
-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px; width: 100%;
height: 230px;resize: none;}	
table {border:none;font-size: 12px;}
td{border:none; padding: 5px;}

table.data {border: 1px solid #dcdcdc; margin: 10px 0px 20px 0px; width: 97%; border-collapse: collapse;font-size: 12px;}
th.data {padding: 8px 4px 8px 4px;border: 1px solid #dcdcdc; background: url(img/green.jpg)repeat left center;text-shadow: 1px 0px #003362;color: #fff }
td.data {padding: 4px; border: 1px solid #dcdcdc;color: #5b5b5b;vertical-align: top;}
tr.data {background: #fff}
tr.data:hover {background: #feffdc;}
tr.data small a{color: #fff;}
tr.data small{color: #fff;}
tr.data:hover small a{color: #527e19;}
tr.data:hover small a:hover{color: #000;}
tr.data:hover small {color: #5b5b5b;}	

/* Footer */

#footer {
	clear:both;
	height:50px;
	background: url(../images/img06.gif) repeat-x;
}
}

#footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

#footer p a {
	color: #ccc;
	font-weight: bold;
}


#footer .footer-content ul {
	width: 150px;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	float: left;
}

#footer .footer-content li {
	/*border-bottom: 1px dashed #ddd;*/
	padding: 7px 5px;
}

#footer .footer-content ul.endfooter {
	margin-right: 0;
}

#footer .footer-content span.sitename {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

#footer .footer-bottom {
	padding: 10px;
	text-align: center;
	
}

#footer .footer-bottom p {
	text-align: center;
}

#footer .footer-bottom p, #footer .footer-bottom p a {
	color: #333;
}

input.error, select.error, textarea.error{
    border: 1px solid #f92f2f;
    background: #ffd3d3;
}
strong.readmore{
    color: royalblue;
    font-size: 0.8em;
}