@charset "utf-8";

.fb {
	color: #333;
	width: 350px;
	padding: 5px;
	background-color: #f7f7f7;
	border: 1px solid #b7b7b7;
}

.fb a {
color: #3B5998;
text-decoration:none;
}

.fb p {
padding: 5px;
}

.fb1 {
	color:#FFFFFF;
	background-color:#3B5998;
	border-bottom: solid #6d84b4 5px;
}

.fb2 {
	padding: 5px;
	color: #FFFFFF;
	background: #3B5998;
}

.fb2 a {
	color:#FFFFFF;
	text-decoration: none;
	outline-style: none;
	padding: 5px;
}

.fb2 a:hover {
	background: #6D84B4;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}

.fb3 {
	color: #3B5998;
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

div.fb3:hover {
border:none;
background-color: #d8dfea;
border-top: 1px solid #d8dfea;
border-bottom: 1px solid #d8dfea;
}

.fb4 {
	color: #333;
	background:#fff9d7;
	border: 1px solid #e2c822;
}



.fb5 {
	color: #333;
	background:#ffebe8;
	border: 1px solid #dd3c10;
}

.fb6 {
border: 1px solid #cccccc;
background:#fff;
text-align:left;
}


.fb6a, .fb6b, .fb6c {
	float: left;
}


.fb6b {
	padding:10px;
	width: 90px;
}

.fb6b a {
font-size:12px;
color: #3B5998;
text-decoration: none;
}

.fb6b a:hover {
text-decoration: underline;
}


.fb6c a {

}


.fb6c a {

	color: #3B5998;
	text-decoration:none;
}

.fb6c a:hover {
	color: #FFF;
	background:#3B5998;
	}


.fb6c li {
margin: 0px;
padding-left:5px;
	width: 70px;
	list-style:none;
	color: #3B5998;
	border-bottom: 1px solid #d8dfea;
	line-height: 15px;
	font-size:11px;
	font-weight: normal;
		display:block;
}

.fb6c li:hover  {
	color: #FFF;
	background-color:#3B5998;
}


.fb6cname {
	font-weight:normal;
	font-size: 11px;
	color:#999999;
}

.fbpost {
	font-size: x-small;
}


.fb, .fb1, .fb2, .fb3, .fb4, .fb5, .fb6 {
padding: 10px;
font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
font-size: 12px;
font-weight: bold;
}

.fbx {
font-size:11px;
font-weight:normal;
background: #f7f7f7;
color:#000;
width:165px;
padding: 5px;
border: 1px solid #B7B7B7;
float: right;
}

.fbx H3 {
font-size:11px;
background: #e9e9e9;
color:#333;
padding: 2px;
margin-bottom: 5px;
margin-top: 0px;
}

.fbx-tiny {
font-size:10px;
color: #777;
}

.fbx a {
color: #3B5998;
text-decoration:none;
}

.fbx a {
text-decoration:underline;
}

.fby {
width:165px;
float: left;
border-right:1px solid #eee;
}

.fby a {
color: #3B5998;
border-bottom:1px thin #ccc;
font-weight: normal;

}

.fby a:hover {
text-decoration:underline;
}

.fby H3 {
font-size:11px;
color:#3B5998;
background:#d8dfea;
border-top: 1px solid #3B5998;
padding: 3px 10px;
margin: 0px;
}


.fby H3:hover {
background:#cfd7e4;
border-top: 1px solid #3B5998;
}

.fby li {
font-size:11px;
font-weight: normal;
margin-left: 5px;
padding: 3px 0px;
list-style:none;
border-bottom:1px solid #ccc;
width: 155px;
}

.fby img {
border:0;
}

.fbr {
padding:2px;
text-align:right;
}