@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------------------------------------------------*/
/* login */
.login_box {
	position:absolute;
	top: 45%;
	left: 50%;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -13em; /*set to a negative number 1/2 of your width*/
/*	border: 1px solid #0B7626;*/
}
.login_border{
    border: 1px solid #0B7626;
    width:26em;
    height:17em;
}
#login_image{
	float:left;
	clear:both;
	margin-top:20px;
	height:100px;
	width:100%;
	background: url(../images/img07_mini.jpg)no-repeat;
}

#login_title{
	float:left;
	margin-top:20px;
	margin-left:155px;
	font-weight:bold;
	font-size:1.15em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -0.5px;
	color:#fff;
}

#login_caption{
	float:left;
	margin-left:155px;
	font-size:0.7em;
	font-family: "Candara", Arial, Helvetica, sans-serif;
	letter-spacing: -0.1px;
	color:#fff;
}

#login_message{
	float:left;
	clear:both;
	height:15px;
	width:100%;
	font-family:Candara Tahoma,Arial,sans-serif;
	font-size:12px; 
	color:#F00;
	text-align:center;
}

#login_form{
	float:left;
	clear:both;
}

.table-form {
   border:none;
   clear:both;
   font-family:Candara Tahoma,Arial,sans-serif;
   font-size:0.8em;
   margin:0px 0 0 50px;
   padding:10px 0 0 10px;
   text-align:left;
   width:100%;
}

.table-form th {
   color:#000000;
   padding:4px 5px 6px 0px;
}

.table-form td {
   color:#000000;
   padding:4px 15px 6px 0px;
}

.table-form input {
   padding-top : 2px;
   padding-bottom : 2px;
   padding-left : 2px;
   padding-right : 2px;
   color : #000;
   border-collapse : collapse;
   border-color:#898787;
   border-style:solid;
   border-width:1px;
   font : 12 px  Candara, Arial;
}

.table-form select {
   padding-top : 2px;
   padding-bottom : 2px;
   padding-left : 2px;
   padding-right : 2px;
   color : #000;
   border-collapse : collapse;
   border-color:#898787;
   border-style:solid;
   border-width:1px;
   font : 12 px  Candara, Arial;
}
