dl {margin-bottom: 1.2em;}
dt,dd {padding: 8px 10px;}
dt {background-color: #EEE;border-bottom: 1px solid #fcf0a0;font-weight: bold;}
dd {background-color: #F6F6F6;border-bottom: 1px solid #EEE;padding-left: 16px;}

/*---------- main table style --------------------------------------- */
.table-main {
	border: 1px solid #DDD;
	border-collapse:collapse;
	margin-top:5px;
	margin-bottom:15px;
}
.table-main th{
	background-color: #ffbd1a;
	padding: 5px;
	color: #555;
	border: 1px solid #DDD;
	font-family:1em Georgia, "Times New Roman", Times, serif;
	text-align: center;
}
.table-main tr {
	border-collapse:collapse;
	border-bottom: 1px solid #fcf0a0;
}
.table-main td{
	border: none;
	padding: 5px;
	border: 1px solid #DDD;
	font-family:1em Georgia, "Times New Roman", Times, serif;
    vertical-align: top;
}

/*---------------------Table Common-----------------------------------*/
.table-common {
	clear: both;
	border-collapse: collapse;
	margin: 0px 0px 0px 1px;
	border: 1px solid #AFBDCF;
	font-family:1em Georgia, "Times New Roman", Times, serif;
	width:100%;
}

.table-common th {
	color: #000000;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	padding: 0.2em 0.4em;
	border: 1px solid #AFBDCF;
	border-top: 1px solid #AFBDCF;
	border-bottom: 1px solid #AFBDCF;
	background-color: #0473b8;
	background-repeat: repeat-x;
	margin: 0px;
	border-collapse: separate;
}

.table-common td {
	font-size: 0.8em;
	padding: 0.2em 0.4em;
	vertical-align: top;
	border: 1px solid #AFBDCF;	
	border-top: none;
	border-collapse: collapse;
	background-color: #fff;
	white-space: normal;
}

.table-common td .number{
	text-align:center;
}

.table-common a {
	color: #A0410D;
	text-decoration: none;
}

.table-common a:hover {
	color: #B94505;
	text-decoration: underline;
}

.table-common a img{
	border: none; 
}

/*----------------------------------form style----------------------------------------------------*/

.table-form {
   /*background-color:#FCFCFA;
   background-image:url(../images/table-form-bg.gif) repeat-y;*/
   background-position:left center;
   border-collapse:collapse;
   border:none;
   clear:both;
   font-family:Georgia, "Times New Roman", Times, serif;
   font-size:1em;
   margin:10px 0 0 10px;
   padding:10px 0 0 10px;
   text-align:left;
   width:100%;
}

.table-form th {
   border-bottom:1px dotted #fcf0a0;
   color:#000000;
   font-weight:bold;
   height:33px;
   padding:4px 5px 6px 15px;
}

.table-form td {
   border-bottom:1.5px dotted #fcf0a0;
   color:#000000;
   height:33px;
   padding:4px 15px 6px 0px;
}

.table-form input {
   padding-top : 2px;
   padding-bottom : 2px;
   padding-left : 2px;
   padding-right : 2px;
   color : #000;
   height:23px;
   border-collapse : collapse;
   border-color:#cccca3;
   font-family:1em Georgia, "Times New Roman", Times, serif;
}

.table-form select {
   padding-top : 2px;
   padding-bottom : 2px;
   padding-left : 2px;
   padding-right : 2px;
   color : #000;
   border-collapse : collapse;
   border-color:#898787;
   border-style:solid;
   border-width:1px;
   font-family:Georgia, "Times New Roman", Times, serif;
}

/*--------------------------------- homepage style -----------------------------------------------------*/
.table-common-home {
	clear: both;
	margin: 0px 0px 0px 1px;
	border: none;
	font-family: Tahoma,Candara,Arial,sans-serif;
	width:100%;
}

.table-common-home td{
	font-size: 0.8em;
	padding: 0.2em 0.4em;
	vertical-align: top;
	border: none;
	background-color: #fff;
	white-space: normal;
}

/*-------------------------------table side menu ---------------------------------------------------*/
.table-side-menu{
	clear: both;
	margin: 5px 0px 0px 1px;
	border: none;
	font-family: Tahoma,Candara,Arial,sans-serif;
	width:100%;
}

.table-side-menu td{
	padding: 10px;
	border: 1px solid #fcf0a0;
	width:50%;
	text-align:center;
}

.table-side-menu td:hover{
	padding: 10px;
	border: 1px solid #fcf0a0;
	background : #fcf0a0;
	color: #FFF;
	cursor:pointer;
}

.table-side-menu a{
	text-decoration:none;
}

.table-side-menu a:hover{
	text-decoration:none;
}
