/* Links ------------------------------------------------------------------- 
a.add, 
a.update, 
a.delete,
a.detail,
a.detail_m_utama,
a.detail_m_pendukung,
a.pilih_file,
a.submit_file,
a.view_submited,
a.feedback,
a.download,
a.more {
	font-size: 9pt;
	color:#323030;
	font-weight:bold;
	padding-left:20px;
	text-decoration: none;
}

a.add:hover,
a.update:hover,
a.delete:hover,
a.detail:hover,
a.detail_m_utama:hover,
a.detail_m_pendukung:hover,
a.pilih_file:hover,
a.submit_file:hover,
a.view_submited:hover,
a.feedback:hover,
a.download:hover,
a.more:hover {
	color:#FFCB2D;
}

a.add {
	background:url(../images/link_icons/2.png) left center no-repeat;
	text-decoration: none;
}

a.update {
	background:url(../images/link_icons/4.png) left center no-repeat;
}

a.delete {
	background:url(../images/link_icons/15.gif) left center no-repeat;
}

a.detail {
	background:url(../images/link_icons/11.png) left center no-repeat;
}

a.pilih_file {
	background:url(../images/link_icons/5.png) left center no-repeat;
}

a.detail_m_utama {
	background:url(../images/link_icons/11.png) left center no-repeat;
}

a.detail_m_pendukung {
	background:url(../images/link_icons/11.png) left center no-repeat;
}

a.submit_file{
	background:url(../images/link_icons/16.gif) left center no-repeat;
}

a.view_submited{
	background:url(../images/link_icons/5.png) left center no-repeat;
}

a.feedback{
	background:url(../images/link_icons/12.png) left center no-repeat;
}

a.download{
	background:url(../images/link_icons/6.png) left center no-repeat;
}
*/
