*{
  margin:0;
  padding:0;
}

:focus,*:focus{
  outline:none;
}
img{
  border:none;
}
img.thumbnail{
  padding:5px;
  border:1px solid #fcf0a0;
  background:#f2f2f2;
}
a:link{
  color:#9a2016;
  text-decoration:none;
}
a:visited{
  color:#555;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a img{
  vertical-align:middle;
  margin:-2px 5px 0 0;
}
fieldset{
  border:1px dotted #aaa;
  padding:5px;
  margin-bottom:5px;
}
legend{
  margin:0 0 0 20px;
  padding:0 10px;
  font-weight:bold;
}
input .inputbox{
    background:#fff;
    border:1px solid #bdc7d8;
    height:18px;
    line-height:18px;
    padding:1px 5px;
    font-size:11px;
  }
  textarea .inputbox{
    background:#fff;
    border:1px solid #bdc7d8;
    height:36px;
    line-height:18px;
    padding:1px 5px;
    font-size:11px;
  }
  .inputbox[disabled]{
    background:#fafafa;
  }
select{
  height:23px;
  border:1px solid #bdc7d8;
  font-size:11px;
  padding:2px 0;
}
  option{
    font-size:11px;
    padding:5px;
  }
.checkall .checkbox{
  position:absolute;
  left:5px;
}
label{
  font-weight:bold;
}

.buttonpane{
  margin-top:5px;
  padding:5px 0;
  background: #fcf0a0;
  text-align: right;
  padding-right: 10px;
}
h4.title{
  font-size:12px;
  padding:5px;
  margin-bottom:10px;
  border-bottom:1px dotted #ddd;
}
table.datalist{
  border-collapse:collapse;
  border:none;
  width:100%;
}
  table.datalist tr{
    border-bottom:1px dotted #ddd;
    background:#fff;
  }
  
  table.datalist tr:nth-child(odd){
    background:#fafafa;
  }
  table.datalist tr.hover, table.data-form tr.hover, table.table-main tr.hover,table tr.soal-hover{
    background:#b1f28c;
/*      background:#fafafa;*/
  }
  table tr.soal-hover{
      cursor: pointer;
  }
  table.datalist td{
    padding:5px;
    vertical-align:top;
    border-right:1px dotted #ddd;
  }
  table.datalist table tr,
  table.datalist table tr:nth-child(odd){
    background:none;
  }
  table.datalist table tr:hover{
    background:none;
  }
  table.datalist table td{
    padding:1px;
    border:none;
  }
  
  table.datalist tr.list label{
    font-weight:normal!important;
  }
  
  table.datalist tr.list.new{
    background:#f5ffd5;
  }
    table.datalist tr.list.new label{
      font-weight:bold!important;
    }
table.data{
  border-collapse:collapse;
  font-size:11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  border:1px solid #ddd;
}
  table.data th{
    background:#e1eaec url(../images/background/panel-header.jpg) repeat-x 0 0;
    padding:5px;
    border:1px solid #ddd;
  }
  table.data td{
    border:1px solid #ddd;
    padding:5px;
  }
  tr.green{
    background:#58ea58;
  }
    tr.green td{
      border-right:1px solid #23be23;
      border-left:1px solid #23be23;
    }
  tr.yellow{
    background:#eefc75;
  }
    tr.yellow td{
      border-right:1px solid #c2d334;
      border-left:1px solid #c2d334;
    }
  tr.red{
    background:#f94848;
  }
    tr.red td{
      border-right:1px solid #dc5050;
      border-left:1px solid #dc5050;
    }
table.form{
  border-collapse:collapse;
  font-size:11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}
  table.form td{
    padding:4px;
  }
  table.form td.title{
    white-space:nowrap;
    font-weight:bold;
    text-align:right;
  }
  table.form td.top{
    vertical-align:top;
    padding-top:8px;
  }
  
table.data-form{
  border-collapse:collapse;
  font-size:12px;font-family:Georgia, "Times New Roman", Times, serif;
  border:1px solid #dddddd;
}
  table.data-form td,th{
    padding:4px;
    border:1px solid #ddd;
  }
  table.data-form td.title,div.title,table.data-form th{
    white-space:nowrap;
    font-weight:bold;
	text-align:left;
    background:#faf8c4;
  }
  table.data-form th{
      text-align: center;
  }
  table.data-form td.title-column{
    white-space:nowrap;
    font-weight:bold;
    text-align:center;
    background:#f2f2f2;
  }
  table.data-form td.top{
    vertical-align:top;
    padding-top:12px;
  }
td.action{
  width:16px;
  background:#f2f2f2;
  border-right:1px solid #ddd;
  padding:0;  
}
  td.action .checkbox{
    margin:0 1px 5px;
  }
  td.action a{
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    display:block;
    padding:0 0 5px 0;
  }
  td.button1{
    text-align:center;
  }
  td.button1 a{
    width:22px;
    height:22px;
    margin:0;
    padding:0;
    overflow:hidden;
    text-indent:-9999px;
    display:inline-block;
  }
  a.view-btn{
    background:url(../images/icon/detail.png) no-repeat 0 0;
  }
  a.question-btn{
    background:url(../images/icon/question.png) no-repeat 0 0;
  }
  a.analisys-btn{
    background:url(../images/icon/analisys.png) no-repeat 0 0;
  }
  a.active-btn{
    background:url(../images/icon/blog.png) no-repeat 0 0;
  }
  a.download-btn{
    background:url(../images/icon/download.png) no-repeat 0 0;
  }
  a.download-btn-title{
    background:url(../images/icon/download.png) no-repeat 0 0;
    padding-left: 1.5em;
    
  }
  a.upload-btn{
    background:url(../images/icon/upload.png) no-repeat 0 0;
  }
  a.add-btn{
    background:url(../images/icon/plus-button.png) no-repeat 0 0;
  }
  a.edit-btn{
    background: url(../images/icon/edit.png) no-repeat 0 0;
  }
  a.aktif-btn{
    background:url(../images/icon/1.png) no-repeat 0 0;
  }
  a.nonaktif-btn{
    background:url(../images/icon/7.png) no-repeat 0 0;
  }
  a.delete-btn{
    background:url(../images/icon/delete.png)  no-repeat 0 0 ;
	 	
  }
  a.pdf-btn{
    background:url(../images/icon/document-pdf.png) no-repeat 0 0;
  }
  a.disposisi-btn{
    background:url(../images/icon/envelope--arrow.png) no-repeat 0 0;
  }
  a.user-btn{
    background:url(../images/icon/xfn-friend.png) no-repeat 0 0;
  }
  a.icon.mail{
    background:url(../images/icon/mail.png) no-repeat 0 center;
    padding-left:20px;
    display:inline-block;
  }
    
#action-panel{
  position:absolute;
  z-index:999;
  height:20px;
  top:0;
  left:0;
  display:none;
}
  #action-panel .bg{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    background:#fff;
    opacity:0.8;
    filter:alpha(opacity=0.80);
    z-index:0;
  }
  #action-panel .buttonpane{
    position:absolute;
    background:#f2f2f2;
    border:1px solid #ddd;
    bottom:0px;
    left:300px;
    overflow:hidden;
    padding:10px;
    z-index:1;
    display:none;
  }

  #action-panel .buttonpane .checkbox{
    margin:0 1px 5px;
  }
  #action-panel .buttonpane a{
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    display:inline-block;
    float:left;
    padding:0 0 5px 0;
  }
  
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/background/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

small.info{
  display:block;
  padding:5px 0 5px 20px;
  color:#aaa;
  font-size:10px;
  background:url(../images/icon/information-balloon.png) no-repeat 0 center;
}

#notification{
  position:absolute;
  bottom:40px;
  right:10px;
  z-index:999;
  width:200px;
  border:1px solid #b8d0d6;
  margin:0;
  padding:0;
  background:#eef4f5;
  display:none;
}
#notification .content{
  background:#fff;
  border:1px solid #b8d0d6;
  margin:5px;
  padding:10px 5px;
}
#notification .content.success{
  background:#d3f69b url(../images/background/information.png) no-repeat 5px center;
  padding-left:50px;
}
#notification .content.failed{
  background:#fdbdc9 url (../images/background/exclamation.png) no-repeat 5px center;
  padding-left:50px;
}

.disposisi span{
  margin-right:3px;
  font-weight:bold;
}
.disposisi span.red{
  color:#d33232;
}
.disposisi span.green{
  color:#6da516;
}
.disposisi span.yellow{
  color:#9cef19;
}
.disposisi span.purple{
  color:#8a1edd;
}
.form-panel{
    background:#ccc;
    border:1px solid #aaa;
    color:#222;
    padding:5px 0;
    margin-bottom:5px;
}
.grid{
        display: inline;
	float:inherit;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top:0.5%;
	margin-bottom:0.5%;
  }
   .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
  }