*{
  margin:0;
  padding:0;
}

body{
  background:#fff;
  font-family:tahoma,verdana,arial,sans-serif;
  font-size:11px;
}
#toppanel{
  background:#252525;
  height:20px;
}
#container{
  width:700px;
  margin:10px auto;
  position:relative;
}
#logo{
  height:65px;
  line-height:65px;
  width:400px;
}
#loginbg{
  height:200px;
  background:#252525;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
  #loginbg img{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #aaa;
    width:698px;
    height:198px;
  }
#loginfoot{
  width:700px;
  height:162px;
  background:url(../images/background/loginbox-footer.jpg) no-repeat 0 0;
}
  #loginfoot .leftcolumn{
    width:380px;
    padding:10px;
  }
#loginbox{
  width:270px;
  height:400px;
  position:absolute;
  top:0;
  right:0;
}
  #loginbox .header{
    width:187px;
    padding:10px 33px 10px 40px;
    margin-left:4px;
    height:45px;
    line-height:45px;
    background:#fff url(../images/background/loginbox-header.jpg) no-repeat 0 0;
    text-align:center;
  }
    #loginbox .header h4{
      font-size:14px;
      display:block;
      color:#222;
      border-bottom:1px dotted #ccc;
    }
  #loginbox .content{
    height:180px;
    width:187px;
    padding:10px;
    margin-left:34px;
    background:#fff;
    opacity:0.95;
    filter:alpha(opacity=95);
  }
  #loginbox .footer{
    width:187px;
    padding:10px;
    margin-left:34px;
    text-align:center;
  }
  
label{
  display:block;
  height:20px;
  line-height:20px;
}
.inputbox{
  border:1px solid #b4bbcd;
  padding:5px 3px;
  font-size:11px;
  color:#907777;
  width:178px;
}
.inputbox:focus{
  color:#222;
  background:#fffeee;
}
button{
  float:right;
  margin:10px 0 0;
  padding:2px 5px;
  border:1px solid #999999;
  cursor:pointer;
  background:#fafafa url(../images/background/button-bg.jpg) repeat-x 0 0;
  color:#111;
}
  button:hover{
    border:1px solid #666;
  }
  
#notification{
  margin-bottom:5px;
  text-align:center;
  padding:5px;
  color:#fff;
  position:relative;
  overflow:hidden;
}
  #notification p img{
    vertical-align:middle;
    margin:-2px 5px 0 0;
  }
  #notification p{
    position:relative;
    z-index:2;
  }
  #notification.information{
    background:#f2f2f2;
    color:#222;
    border:1px solid #eee;
  }
  #notification.failed{
    background:#d03737;
  }