.module{
  background:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin-bottom:10px;
  overflow:hidden;
  margin:6px;
  margin-left:-60px;
  margin-right:-60px;
  
}
  .module h3{
    background:#202020 url(../images/background/header-black.jpg) repeat-x;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #000;
    padding:0 10px;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    position:relative;
    color:#fff;
    margin:5px;margin-left:-50px;margin-right:-50px;
  }
  
  .module h3 span.ui-icon{
    position:absolute;
    top:8px;
    right:8px;
    cursor:pointer;
    background-image:url(images/ui-icons_d8e7f3_256x240.png);
  }
  
  .module .content{
    overflow:hidden;
    
  }
  
  .module .content.space{
    margin:10px;
  }

#menu{

}
  #menu ul li a{
    display:block;
    color:#ddd;
    padding:5px 5px 5px 15px;
    border-top:1px solid #202020;
    border-bottom:1px solid #202020;
    position:relative;
  }
  #menu ul li a:hover{
    color:#fff;
    background:#111;
    border-top:1px solid #111;
    border-bottom:1px solid #333;
  }
  #menu ul li a span.ui-icon{
    position:absolute;
    top:5px;
    left:0;
    background-image:url(images/ui-icons_d8e7f3_256x240.png);
  }
   
.table-panel{
  clear:both;
  overflow:hidden;
  padding:1px 0;
  color:#555;
  #float:left;
  #width:100%;
}
  .table-panel input,
  .table-panel .inputbox,
  .table-panel select,
  .table-panel button,
  .table-panel label,
  .table-panel div.table-info,
  .table-panel div.searchform,
  .table-panel form{
    float:left;
    clear:none;
    padding:0;
    margin:0 1px 0 0;
  }
  
  .table-info{
    height:25px;
  }
    .table-info select{
    } 
  .table-panel button{
    height:27px;
    line-height:27px;
    padding:0 5px;
    font-size:11px;
    font-family:Arial;
  }
  
  .table-panel .inputbox{
    height:21px;
    line-height:21px;
    float:left;
    border:1px solid #999;
    padding:2px 5px;
  }
  .table-panel select{
    padding:3px;
    height:27px;
    float:left;
    border:1px solid #999;
  }
    .table-panel select option{
      line-height:22px;
    }
  .table-panel label{
    padding:0 2px;
    font-weight:normal;
  }
  .table-panel label strong{
    color:#367dca;
  }
  .table-panel .panel-left{
    float:left;
    margin-left:5px;
  }
  .table-panel .panel-right{
    float:right;
    margin-right:5px;
  }
  .table-panel .table-info{
    height:25px;
    line-height:25px;
  }
  .table-panel .ui-icon{
    background-image:url(images/ui-icons_666666_256x240.png);
  }
  
.pagination{
  float:left;
  padding:0;
}
  .pagination a{
    height:25px;
    line-height:25px;
    border:1px solid #999999;
    cursor:pointer;
    background:#fafafa url(../images/background/button-bg.jpg) repeat-x 0 0;
    color:#333333;
    font-size:10px;
    font-weight:bold;
    float:left;
    margin-right:1px;
    padding:0 5px;
  }
  .pagination a:hover,
  .pagination a.active{
    background:#fafafa url(../images/background/button-bg.jpg) repeat-x 0 -48px;
    border:1px solid #29447e;
    color:#fff;
  }
  .pagination span{
    float:left;
    height:25px;
    line-height:25px;
    padding:0 5px;
  }
.page-item{
  float:right;
}

#advancebox{
  clear:both;
  display:block;
  background:#fafafa;
  border:1px solid #ccc;
  border-top:1px solid #999;
  border-bottom:1px solid #fff;
  padding:10px;
  display:none;
}
  #advancebox button{
    float:left;
    margin-right:1px;
  }

.intro{
  position:relative;
  font-family:Arial,Tahoma,Verdana;
}

.intro h4{
  font-size:16px;
  color:#000;
}
  
a.cpanel,
a.cpanel:visited{
  display:inline-block;
  float:left;
  color:#555;
  padding:10px;
  border:1px solid #eee;
  margin:5px 5px 5px;
  background:#fafafa;
  width:210px;
  position:relative;
}
  a.cpanel.disabled{
    color:#ddd;
    background:#fefefe;
    border:1px solid #ccc;
    opacity:0.3;
      filter:alpha(opacity=20)!important;
  }
    a.cpanel.disabled:hover{
      border:1px solid #ccc;      
    }
  a.cpanel:hover{
    border:1px solid #999;
  }
  a.cpanel img{
    float:left;
  }
  a.cpanel span.title{
    font-weight:bold;
    color:#111;
    display:block;
    margin:0 0 0 70px;
    padding:4px 0 0;
  }
  a.cpanel span.description{
    font-size:9px;
    display:block;
    margin:0 0 0 70px;
    padding:4px 0 0;
  }
  a.cpanel span.info{
    position:absolute;
    bottom:-40px;
    left:0;
    background:#fbffdb;
    border:1px solid #eee;
    width:210px;
    height:25px;
    padding:5px 10px;
    color:#222;
    font-weight:bold;
    text-align:center;
  }
  a.cpanel span.number{
    position:absolute;
    top:-10px;
    right:10px;
    background:#7e78f0;
    border:1px solid #7e78f0;
    width:10px;
    height:10px;
    line-height:10px;
    padding:5px;
    color:#fff;
    font-weight:bold;
    text-align:center;
  }  

#messagebox{
  position:absolute;
  top:102px;
  display:block;
  width:100%;
}  
  #messagebox .box{
    margin:0 auto;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    padding:5px;
    width:200px;  
    background:#3280d3;
    border:1px solid #1664b8;
    border-top:1px solid #5ba9fe;
  }
  #messagebox .box span{
    display:block;
    padding:10px 10px 10px 30px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-weight:bold;
  }
  #messagebox .box .success{
    background:#f3fed0 url(../images/icon/success.png) no-repeat 10px center;
  }
  #messagebox .box .failed{
    background:#ff8b8b url(../images/icon/error.png) no-repeat 10px center;
  }
.tip {
    color: #fff;
    background:#111;
    display:none; /*--Hides by default--*/
    padding:5px;
    position:absolute;    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.8;
    filter:alpha(opacity=0.8  );
}
table.thread{
  font-size:11px;
}
table.thread tr{
  background:#fff;
}
table.thread tr:hover{
  background:#fff;
}
table.thread tr.disabled{
  background:#f5f5f5;
}
  table.thread tr.disabled .user,
  table.thread tr.disabled .date,
  table.thread tr.disabled .question{
    color:#ddd;
  }
  table.thread tr.disabled .comment-toggler,
  table.thread tr.disabled .reply{
    display:none;
  }
table.thread td .user{
  background:none;
  display:block;
  color:#3b5998;
  font-weight:bold;
  padding:2px 0;
}
table.thread td .date,.mark_read{
  float:right;
  margin-right:5px;
  background:none;
  display:block;
  color:#666;
  font-size:10px;
  padding:2px 0;
  cursor: pointer;
  
}
.mark_read{
    background:url(../images/background/mark-unread.png) no-repeat 20px 0;
}
.unread_notif{
    background-color: #F6F6F6;
    
}
.notif_all{
    font-size: 0.85em;
}
.notif_count{
    display: inline;
}
table.thread td .question{
  background:none;
  display:block;
  color:#222;
  margin:2px 0;
  position:relative;
  word-wrap: break-word;
  width:100%;
}
table.thread td ul.answer{
  list-style:none;
  margin:0 5px;
  display:none;
  background:url(../images/background/top-arrow.gif) no-repeat 20px 0;
  padding-top:3px;
  word-wrap: break-word;
  width:800px;
}
  ul.answer li{
    background:#edeff4;
    display:block;
    color:#222;
    margin:2px;
    border:1px solid #e5eaf1;
    padding:5px;
  }
  ul.answer li strong{
    color:#3b5998;
  }
  ul.answer li span.date{
    display:inline-block;
    float:none;
    margin-bottom:10px;
  }
  ul.answer li span.button{
    display:inline-block;
  }
table.thread td .button{
  float:none;
  margin:5px 0;
}
table.thread td .button a{
  float:none;
  margin:0;
  color:#6d84b4;
}
table.thread td .button a:hover{
  text-decoration:underline;
}
table.thread td .textbox{
  display:none;
}
table.thread td .textbox textarea{
  width:100%;
}
table.thread td .textbox button{
  float:none;
  margin:2px 0;
}
table.thread tr.newquestion{
/*  display:none;*/
}

div.info{
  background:#fffca7 url(../images/icon/information.png) no-repeat 10px center;
  margin:5px;
  padding:10px;
  padding-left:30px;
  line-height:20px;
  border:1px solid #e8e477;
}
div.title.form{
    background:#f2f2f2;
}
/*div.title{
  font-weight:bold;
  padding:2px 0;
}*/
div.date{
  color:#aaa;
  padding:2px 0;
  font-size:10px;
}
div.content{
  text-align:justify;
  padding:5px 0;
}

table.noborder .col1{
  background:#c6d9f0;
  border:1px solid #c6d9f0;
  color:#0f243e;
}
table.noborder .col2{
  background:#8db3e2;
  border:1px solid #8db3e2;
  color:#17365d;
}
table.noborder .col3{
  background:#548dd4;
  border:1px solid #548dd4;
  color:#c6d9f0;
}
table.noborder .col4{
  background:#17365d;
  border:1px solid #17365d;
  color:#fff;
}
#support{
  width:200px!important;
  background:#f5f5f5!important;
  border:none!important;
  border-left:1px solid #ccc!important;
}
  #support h4{
    height:30px;
    line-height:30px;
    background:#3280d3 url(../images/background/header-blue.jpg) repeat-x;
    border:1px solid #1664b8;
    color:#fff;
    font-weight:bold;
    font-size:12px;
  }
    #support h4 img{
      vertical-align:middle;
      margin:-2px 5px 0;
    }
  #support ul{
    margin:0;
    padding:0;
    list-style:none;
  }
    #support ul li{
      position:relative;
    }
    #support ul li a{
      display:block;
      background:#e7e7e7 url(../images/background/header-gray.jpg) repeat-x;
      border-bottom:1px solid #ccc;
      color:#555;
      text-shadow:1px 1px 0px #fff;
      font-weight:bold;
      position:relative;
    }
    #support ul li a:hover{
      background:#fefefe;
    }
    #support ul li a img{
      position:absolute;
      top:5px;
      left:5px;
    }
    #support ul li a span{
      display:inline-block;
      border-left:1px solid #ccc;
      padding:5px;
      margin-left:22px;
    }
ul#list_skpd{
  list-style:none;
  margin:0;
  padding:0;
  width:600px;
}
  ul#list_skpd li{
    display:block;
    position:relative;
    background:#edeff4;
    border:1px solid #e5eaf1;
    margin:1px;
  }
  ul#list_skpd li label.no_skpd{
    border-right:1px solid #ccd6e4;
    display:inline-block;
    float:left;
    margin:0;
    padding:0 10px;
    background:#325c99;
    color:#fff;
  }
  ul#list_skpd li a.delete{
    float:right;
    width:15px;
    height:15px;
    background:url(../images/background/cross.png) no-repeat 0 0;
    text-indent:-9999px;
    margin:5px 5px 0 0;
  }
  ul#list_skpd li a.delete:hover{
    background-position:0 -30px;
  }
   .pengumuman{
/*       color:#000;
       background-color: #f5f8f9;*/
      color: #3B5998;
	background-color: #f7f7f7;
  }