.module{
  background:#ccc;
  position:relative;
  overflow:hidden;
  border:1px solid #ccc;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0 0 5px;
  font:Window;
}
  .module .content{
    margin:10px;
    overflow:hidden;
  }
  #left-sidebar .module{
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border:none;
    border-bottom:1px solid #fff;
  }
.module-menu{
  position:relative;
}
  .module h4,
  .module-menu h4{
    height:26px;
    line-height:26px;
    padding:0 10px;
    background:#fff url(../images/background/panel-header.jpg) repeat-x 0 0;
    border-bottom:1px solid #b8d0d6;
  }
  .module-menu ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  .module-menu ul li{
    position:relative;
    margin:0;
    padding:0;
  }
  .module-menu ul li a{
    display:block;
    padding:5px 10px 5px 25px;
    border-bottom:1px solid #ddd;
    background:url(../images/icon/document.png) no-repeat 5px center;
    color:#555;
    font-weight:bold;
  }
  .module-menu ul li a:hover{
    text-decoration:none;
    color:#222;
  }
  .module-menu ul li.parent a{
    background:url(../images/icon/folder.png) no-repeat 5px center;
  }
  .module-menu ul li.parent a.active{
    background:url(../images/icon/folder-open.png) no-repeat 5px center;
    font-weight:bold;
    color:#222;
  }

  .module-menu ul li.parent ul{
    display:none;
    border-bottom:1px solid #ddd;
  }
    .module-menu ul li.parent ul li a{
      background:#f2f2f2 url(../images/icon/report.png) no-repeat 20px center;
      padding-left:40px;
      color:#555;
      border:none;
    }
      .module-menu ul li.parent ul li a:hover{
        background:#fafafa url(../images/icon/report.png) no-repeat 20px center!important;
        color:#222;
      }
  
.module-menu img.loading{
  position:absolute;
  right:5px;
  top:10px;
}
#pathway ul{
  list-style:none;
  padding:0;
  border: 1px solid #b8d0d6;
  margin:2px 2px 2px 5px;
  float:left;
  height:20px;
  line-height:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
}
  #pathway ul li{
    padding:0 10px;
    float:left;
    text-align:center;
  }
  #pathway ul li.divider{
    padding:0;
    background:url(../images/background/breadcrumb_divider.png) no-repeat 0 -1px;
    width:12px;
    height:20px;
  }
  #pathway a:link, #pathway a:visited {
    color: #44474F;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
  }
  #pathway a:hover {
    color: #222222;
  }
  #pathway a.current, #pathway a.current:hover {
    color: #9E9E9E;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    cursor:default;
  }
  
.panel{
  background:#fff;
}
  .panel .left{
    float:left;
     margin:5px;
  } 
  .panel .right{
    float:right;
    margin:5px;
  }
  
a.cpanel{
  width:100px;
  height:100px;
  background:#fff;
  border:1px solid #fff;
  display:block;
  float:left;
  position:relative;
  color:#555;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:1px;
}
  a.cpanel img{
    margin:10px 26px;
    width:48px;
    height:48px;
  }
  a.cpanel span{
    position:absolute;
    left:0px;
    bottom:10px;
    text-align:center;
    width:100px;
  }
  a.cpanel:hover{
    text-decoration:none;
  }
  a.shadow{
    box-shadow:0px 0px 2px #bfec78;
    -moz-box-shadow:0px 0px 3px #eee;
    -webkit-box-shadow:0px 0px 2px #bfec78;
    color:#222;
  }

#searchform{
  position:relative;
  float:left;
  margin-right:5px;
}
  #searchform .inputbox{
    float:left;
  }
  #searchform button{
    float:left;
    margin-left:-1px;
  }
#advance-search{
  display:none;
  clear:both;
  background:#efffe8;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:5px;
  position:relative;
}
#advance-search .loading{
  position:absolute;
  top:0;left:0;bottom:0;right:0;
  background:#efffe8 url(../images/background/fbloading.gif) no-repeat center center;
  z-index:10;
}
  #advance-search .buttonpane{
    border-top:1px dotted #ddd;
    padding:5px;
  }

span.date{
  color:#aaa;
}
.table-info{
  float:left;
  margin-right:10px;
}
.uibutton .sub{
  display:none;
  position:absolute;
  top:0px;
  left:-1px;
  background:#ddd;
  overflow:hidden;
  padding:5px;
  border:1px solid #aaa;
}