*{
  margin:0;padding:0;
}
#layout{
  float:left;
}
table#container{
  margin:10px;
}
table{
  border-collapse:collapse;
  font-family:arial;
}

  td{
    padding:0;
    margin:0;
  }
  
  td#header{
    text-align:center;
    padding-bottom:20px;
  }
  
table.data{
  border:1px solid #aaa;
  font-size:12px;
}
  table.data thead{
    border-bottom:10px solid #333;
  }
  table.data tbody{
    border:2px solid #333;
  }
  table.data th{
    white-space:nowrap;
    padding:2px 5px;
    border:1px solid #222;
    color:#222;
  }
  table.data td{
    border:1px solid #aaa;
    padding:2px;
    color:#555;
    font-size:11px;
  }