#header{
  height:30px!important;
  line-height:30px!important;
  background:#112645;
  z-index:100!important;
  padding:0 10px;
  color:#fff;
  font-weight:bold;
  border-bottom:5px solid #e5edef;
}
  #header .title{
    float:left;
  }
  #header .right{
    float:right;
  }
  a.logout-btn{
    float:right;
    height:30px;
    line-height:30px;
    padding:0 10px 0 25px; 
    background:url(../images/icon/control-power.png) no-repeat 5px 8px;
    color:#fff;
    font-weight:bold;
  }
    a.logout-btn:hover{
      text-decoration:none;
      color:#b3d747;
    }
#left-sidebar{
  background:#fff;
  z-index:100!important;
  border:1px solid #b8d0d6;
}
#left-sidebar .module,
#left-sidebar .module-menu{
  margin:0;
}
.ui-layout-resizer-west{
  background:#e5edef;
}
.ui-layout-toggler-west{
  background:#fff;
}
#left-sidebar .ui-layout-pane-center{
  overflow:auto;
}
#left-sidebar  .ui-layout-pane-north{
  position:relative!important;
  z-index:9999!important;
  height:26px!important;
  line-height:26px!important;
  padding:0 10px!important;
  background:#e1eaec url(../images/background/panel-header.jpg) repeat-x 0 0!important;
  border-bottom:1px solid #b8d0d6!important;
  font-weight:bold;
}
#left-sidebar  .ui-layout-pane-south{
  height:auto!important;
  overflow:hidden!important;
  background:#fff!important;
  border-top:1px solid #b8d0d6!important;
  padding:0px!important;
}
#pathway{
  height:26px;
  line-height:26px;
  background:#e1eaec url(../images/background/panel-header.jpg) repeat-x 0 0;
  border-bottom:1px solid #b8d0d6;
  overflow:hidden;
}
#wrapper{
    background:#E5EFFD;
    border:1px solid #b8d0d6;
/*    float: left;*/
    width: 10%;
    
    padding: 0px 20px 0px 10px;
    font-size:0.5em; 
    padding-right:0px;
} 
.notif{
    font-size: 5em;
    white-space: pre;
    background-color: #d9d9d9;
    z-index: 9999999;
}
  #wrapper h4{
    height:26px;
    line-height:26px;
    padding:0 10px;
    background:#e1eaec url(../images/background/panel-header.jpg) repeat-x 0 0;
    border-bottom:1px solid #b8d0d6;
  }
  #wrapper h4 img{
    vertical-align:middle;
    margin:-2px 5px 0 0;
  }
#maincontent{
  margin:10px;
}
#footer{
  
  background:#ddd;
  z-index:100!important;
  border-top:5px solid #e5edef;
}
  #footer .inner{
    border-top:1px solid #b8d0d6;
    background:#e1eaec url(../images/background/panel-header.jpg) repeat-x 0 0;
    height:25px;
  }
#contentpane .ui-layout-pane-center{
  overflow:auto;
}
#contentpane .ui-layout-pane-north{
  position:relative!important;
  z-index:9999!important;
  background:#f2f2f2;
  border-bottom:1px solid #ddd!important;
  padding:0!important;
  height:32px!important;
}
#contentpane .ui-layout-pane-south{
  height:33px!important;
  overflow:hidden!important;
  background:#f2f2f2;
  border-top:1px solid #ddd!important;
  padding:0px!important;
}

#tableform .ui-layout-pane-center{
  overflow:auto;
  border-top:none!important;
}

#tableform .ui-layout-pane-north{
  background:#fff;
  border-bottom:none!important;
  padding:0px!important;
  height:auto;
}
.ui-layout-resizer-north{
  background:#e5edef;
  border:1px solid #b8d0d6;
}
.ui-layout-toggler-north{
  background:#fff;
}

#tabledata .ui-layout-pane-center{
  overflow:auto;
  padding:0px;
  border:none!important;
}
#tabledata .ui-layout-pane-north{
  z-index:9999!important;
  background:#f5f5f5;
  border-bottom:1px solid #b8d0d6!important;
  overflow:hidden!important;
  padding:0!important;
}
#tabledata .ui-layout-pane-south{
  overflow:hidden!important;
  background:#f5f5f5;
  border-top:1px solid #b8d0d6!important;
  padding:0px!important;
}

#formdata .ui-layout-pane-center{
  overflow:auto;
  padding:5px;
  border:none!important;
}
#formdata .ui-layout-pane-north{
  z-index:9999!important;
  background:#f5f5f5;
  border-bottom:1px solid #b8d0d6!important;
  overflow:hidden!important;
  padding:0!important;
}
#formdata .ui-layout-pane-south{
  overflow:hidden!important;
  background:#f5f5f5;
  border-top:1px solid #b8d0d6!important;
  padding:0px!important;
}
#contentform{
  padding:5px;
}

.infopage{

}
.info-page .header{
  background:#ebf6ff url(../images/background/home_header.jpg) repeat-x 0 0;
  padding:10px;
  line-height:20px;
  border-bottom:1px solid #d9d9d9;
}
.info-page .content{
  padding:10px;
  border-bottom:1px solid #d9d9d9;
  line-height:20px;
}
.info-page .title{
  font-weight:bold;
  font-size:12px;
}